@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
	--primary-color: #7c59b0;
	--secondary-color: #07020d;
	--border-radius: 5px;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Karla, sans-serif;
	background-color: var(--secondary-color);
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23b88ff9' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
	color: whitesmoke;
	padding: 20px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: var(--border-radius);
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	width: 275px;
	margin: 20px auto 10px;
	user-select: none;
}

h1:hover {
	background: rgba(0, 0, 0, 0.8);
}

/* Bookmarks */
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item {
	background: rgba(0, 0, 0, 0.5);
	color: whitesmoke;
	border-radius: var(--border-radius);
	padding: 20px;
	margin: 10px;
}

.item:hover {
	background: rgba(0, 0, 0, 0.6);
}

a {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

a:link,
a:visited {
	color: whitesmoke;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

.fa-trash-alt {
	float: right;
	cursor: pointer;
	z-index: 2;
}

.name {
	margin-top: 25px;
	margin-right: 20px;
}

.name img {
	height: 20px;
	width: 20px;
	vertical-align: sub;
	margin-right: 5px;
}

/* Media Query: Large Smart Phones Vertical */
@media screen and(max-width: 600px) {
	.container {
		flex-direction: column;
	}
}
